/* modern Style Reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0; padding: 0;
}
/* set main default settings for body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}
/* simplify working with images */
body img {
  max-width: 100%;
  display: block;
}
/* inheriting fonts for inputs and buttons */
input, button, textarea, select {
  font: inherit;
}

.page-container {
  padding-left: 10px;
}

.weather-choice {
  height: 70px; width: 600px;
  padding-top: 10px; padding-left: 10px;
  background-color: cornflowerblue;
}
.weather-choice label {
  color: bisque;
  font-size: larger;
  font-weight: 700;
}

.separator {
  height: 25px;
  background-color: lightslategrey;
}
/* trainings */
button {
  width: 150px;
  height: 50px;
  background-color: green;
  border: none;
  color: #fff;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  transform: scale(0.95);
}
.overlay {
  background-color: pink;
  width: 200px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
a {
  display: block;
  margin-top: 30px;
}

.first {
  margin: 10px;
}

.second {
  margin: 10px 40px;
}

/* live collections */
#liveBoxo {
  padding: 25px;
  background-color: indianred;
}
.boxo {
  width: 60px; height: 150px;
  margin: 5px;
  border: 2px solid black;
  background-color: thistle;
}



